<!DOCTYPE html>
<html lang="en" data-theme="corporate">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Dashboard</title>
</head>

<body>
  <div class="flex gap-4">
    <div class="flex-none">
      <ul class="menu">
        <li><a href="#" class="menu-active">Dashboard</a></li>
        <li><a href="/tokens">Tokens</a></li>
        <li><a href="/logout" class="text-error">Logout</a></li>
      </ul>
    </div>

    <div class="grow p-4 flex flex-col gap-4">
      <div class="w-full flex justify-center">
        <div class="stats shadow">
          <div class="stat">
            <div class="stat-title">Total Jobs</div>
            <div class="stat-value">{{ .NumberJobs }}</div>
          </div>
          <div class="stat">
            <div class="stat-title">Pending Jobs</div>
            <div class="stat-value text-secondary">{{ .PendingJobs }}</div>
          </div>
          <div class="stat">
            <div class="stat-title">In Progress Jobs</div>
            <div class="stat-value text-warning">{{ .InProgressJobs }}</div>
          </div>
          <div class="stat">
            <div class="stat-title">Failed jobs</div>
            <div class="stat-value text-error">{{ .FailedJobs }}</div>
          </div>
          <div class="stat">
            <div class="stat-title">Completed Jobs</div>
            <div class="stat-value text-success">{{ .CompletedJobs }}</div>
          </div>
        </div>
      </div>

      <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
              <th>State</th>
              <th>Duration</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            {{ range .Jobs }}
            <tr>
              <td>#{{ .ID }}</td>
              <td>{{ .Name }}</td>
              <td>{{ .Type }}</td>
              <td>
                {{ with (eq .State "complete" ) }}
                <div class="badge badge-success">
                  Complete
                </div>
                {{ end }}
                {{ with (eq .State "fail" ) }}
                <div class="badge badge-error">
                  Failed
                </div>
                {{ end }}
                {{ with (eq .State "inprogress" ) }}
                <div class="badge badge-warning">
                  In progress
                </div>
                {{ end }}
                {{ with (eq .State "notstarted" ) }}
                <div class="badge badge-secondary">
                  Not started
                </div>
                {{ end }}
              </td>
              <td>
                {{ with .Duration }}
                {{ .DurationFormatted }}
                {{ end }}
              </td>
              <td>
                <button class="btn" onclick="location.href='/job/{{ .ID }}'">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                </button>
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>